:root{
    --background-small: green;
    --label-color: blue;
}

body{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:var(--background-small);
  
}

header{
    display: block;
    background-color: rgb(9, 91, 9);
    text-align: center;
    color:white;
    padding: 35px;
    font-size: 25px;
    border-bottom: 8px solid yellow;
}


.hero img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


.data {
    justify-content: center;
    text-align: center;
    
}


.data h2,.weather h2 {
    background:var(--label-color:blue);
    color: white;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px 25px;
    border-bottom: black;
}

.data p,.weather p{
    display: flex;
    flex-direction: row;

}

.data {    
    background: white;
    padding: 15px 25px;
    
}
.weather{
    background-color: grey;
    padding: 10px 5px;
}


.data span
 .weather span {
    display: block;   
    text-align: left;
    padding-left: 20px;
    flex: 1, 1;
}
.data h2::before, .weather h2::before {    
    float: left;
    content: "";    
    width: 40px;
    height: 40px;      
}
.data h2::before {
    position: relative;
    top:-10px;
    left:0;
}
.weather h2::before {
    position: relative;
    top:-25px;
}

.weather h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px green;
}
    

.icon {
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.footer{
    display: block;
    background-color: rgb(9, 91, 9);
    padding: 35px;
    text-align: center;
    color: white;
    border-top: 10px solid red;
}
