* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto','Jost',sans-serif;
}

#menu {
	display: block;
	font-size: 3rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: white;
    text-align: right;
    background-color: rgb(3, 50, 50);

}

#menu::before {
	content: "≡";
}

nav {
	background-color: rgb(3, 50, 50);
    display: inline-block;
	width: 100%;
	/*flex-direction: row;
	/*overflow: hidden;
	width: 100%;*/
}

.navigation {
	list-style: none;
	margin: 0 auto;
	width: 50%;
	/*float: right;*/
}

nav h1{
    text-align: left;
    color: white;
	float: left;
	padding: 0 14px 14px 14px;
}

.navigation li {
	display: none;
    text-align: right;
}

.navigation a {
	display: block;
	padding: 20px;
	text-align: center;
	text-decoration: none;
    font-weight: 500;
	color: white;
	transition: 0.1s;
}

.navigation a:hover,.navigation a:active {
	color: white;
	background-color: blue;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

h2{
    text-align: center;
    color: rgb(24, 2, 2);
    padding: 10px;
}

.container{
    display: grid;
    justify-content: space-between;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin: 5px;
    text-align: center;
    padding: 5px;
    row-gap: 5px;
    column-gap: 5px;
    
}

footer{
    color: white;
    background-color: rgb(3, 50, 50);
    padding: 20px;
    text-align: center;
}





